<app-header></app-header>
<p></p>

<div *ngIf="images" class="row row-cols-1 row-cols-md-3">
  <div *ngFor="let image of images" class="col mb-4">
    <div class="card">
      <img [src]="image.url" class="card-img-top" alt="loading" [style.width.px]="300" [style.height.px]="300">
      <div class="card-body">
        <h5 class="card-title"><b>{{image.itemName}}</b></h5>
        <p class="card-text">Price :{{image.itemPrice}}</p>
        <p class="card-text">Barcode :{{image.itemBarcode}}</p>
      </div>
    </div>
  </div>
</div>